:root {
  --dark-brown: #231f20;
  --pink: #f599b1;

  font: 18px 'Avenir Next', Avenir, sans-serif;
  color: var(--dark-brown);
  background-color: var(--pink);
}

* {
  box-sizing: border-box;
}

:root, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.wrapper {
  padding: 60px;
  width: 100%;
}

.responsive-image {
  position: relative;
  width: 100%;
}

.responsive-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.logo {
  max-width: 600px;
  margin: 20px auto 40px auto;
}

.call-to-actions {
  margin-top: 0;
  margin-bottom: 60px;
}

.call-to-actions a, .call-to-actions a:visited {
  display: inline-block;
  width: 5.5em;
  color: white;
  border-bottom: 1px dashed currentColor;
  text-decoration: none;
  margin: 0 .5em;
  line-height: 1.8;
  transition: all 200ms;
}
.call-to-actions a:hover, .call-to-actions a:active {
  color: var(--dark-brown);
}

.bio p {
  max-width: 20em;
  margin: 2em auto;
}

.bio a {
  color: currentColor;
}

.bio a:hover, .bio a:active {
  color: var(--dark-brown);
}

@media (max-width: 850px) {
  .logo { margin-bottom: 20px; }
}

@media (max-width: 500px) {
  .call-to-actions { display: flex; flex-direction: column; font-size: 1.25em; }
  .call-to-actions span { margin: .5em 0; }
  .wrapper { padding: 60px 15px; }
}
